Source: ros-foxy-interactive-marker-twist-server
Section: misc
Priority: optional
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-geometry-msgs, ros-foxy-interactive-markers, ros-foxy-rclcpp, ros-foxy-tf2, ros-foxy-visualization-msgs, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-interactive-marker-twist-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-geometry-msgs, ros-foxy-interactive-markers, ros-foxy-rclcpp, ros-foxy-tf2, ros-foxy-visualization-msgs, ros-foxy-ros-workspace
Description: Interactive control for generic Twist-based robots using interactive markers
